.bg_darkgray {
  background: #1f1f1f;
}

.bg_lightgray {
  background: #2c303a;
}

.bg_black {
  background: #000;
}

.bg_orange {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #ff4300), color-stop(80%, #ff7e00));
  background: linear-gradient(180deg, #ff4300 35%, #ff7e00 80%);
}

.bg_blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#62a0fd), to(#4992ff));
  background: linear-gradient(180deg, #62a0fd 0%, #4992ff 100%);
}

.bg_purple {
  background: -webkit-gradient(linear, left top, left bottom, from(#753cff), to(#d923ff));
  background: linear-gradient(180deg, #753cff 0%, #d923ff 100%);
}

.bg_green {
  background: -webkit-gradient(linear, left top, left bottom, from(#00a546), color-stop(52%, #f2cd56));
  background: linear-gradient(180deg, #00a546 0%, #f2cd56 52%);
}

.bg_instagram {
  background: -webkit-gradient(linear, left top, left bottom, from(#962fbf), to(#fa7e1e));
  background: linear-gradient(180deg, #962fbf 0%, #fa7e1e 100%);
}

.starpurple {
  color: #9f8198;
}

.starbrown {
  color: #de7300;
}

.starblue {
  color: #7a99ad;
}

.starwhite {
  color: #fff;
}

.staryellow {
  color: #e1ca72;
}

.stargreen {
  color: #74b087;
}

.btn__primary {
  width: 100%;
  background: #fff;
  margin-bottom: 0.5rem;
  color: #2c303a;
  display: block;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.btn__primary:hover {
  background: #d0d0d0;
}

button.btn__close {
  font-family: "Montserrat";
  display: block;
  margin: auto;
  padding: 0.8rem;
  font-size: 1.1rem;
  border: none;
  color: #2c303a;
  background-color: transparent;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

body {
  width: 100%;
  margin: auto;
  background: #fafafa;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  color: #d0d0d0;
  padding: 2rem 0 2rem;
  text-align: center;
}

ul,
ol,
li,
p,
a,
span {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  color: #1f1f1f;
  text-decoration: none;
  padding: 1.5rem 0rem;
  font-size: 1.3rem;
}

p {
  line-height: 2rem;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

li {
  padding: 0.6rem;
}

a {
  font-weight: 500;
}

a:hover {
  color: #000;
}

a:visited, a:hover, a:active, a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

menu {
  padding: 0;
  display: contents;
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
}

.hidden {
  display: none;
}

header {
  margin-top: 2rem;
}

.wrapper {
  padding: 0 3%;
  position: relative;
}

.content {
  margin-bottom: 2rem;
  background: #fff;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
}

.content p {
  padding: 1.5rem;
}

.content h1,
.content h2,
.content h3 {
  padding: 2rem 1rem 2rem;
}
/*# sourceMappingURL=null.css.map */